<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div id="brandnav"  class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="brand" class="navbar-brand" href="#">PBK Flights</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">   <!-- this is where it should call back to login -->
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
              <button type="submit" class="btn btn-success">Sign in</button>
              <button class="btn btn-primary">Register</button>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>PBK Flights, Inc.</h1>
        <p>It's not when you get there, It's how you get there</p>
        <p><a class="btn btn-custom btn-lg" href="#" role="button">Find an Amazing Flight &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 class="art-img-header">Luxury Matters</h2>
            <img src="img/luxury.jpg" class="img-thumbnail " alt="Only the best in luxury and refinement">
          <p>Adorned with Himalayan Gold Leaf and trimmed with inlaid Sepilla Mahogany, our expertly designed interiors exude comfort and refinement for a superb flying experience of which you will find no equal. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2 class="art-img-header">Technology Matters</h2>
            <img src="img/technology.jpg" class="img-thumbnail"  alt="Only the best in luxury and refinement">
          <p>Avoid the lumbering, oafish flights of larger  out-of-date aircraft! Our modern, high-tech jets offer all the latest amenities to make your flight comfortable, safe and fast. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2 class="art-img-header">Dining Matters</h2>
            <img src="img/dining.jpg" class="img-thumbnail"  alt="Only the best in luxury and refinement">
          <p>No peanuts and tiny bottle of cheap liquor here! Enjoy an exquisite in-flight meal prepared by a Michelin 5-star chef accompanied by wine chosen by our in house sommelier.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p></p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
